extends layout.jade

block content
  nav.navigation
    a(href='#practical') Practicalities
    a(href='#schedule') Schedule
    a(href='#talks') Talks and Speakers
    a(href='#location') Location
  section.intro
    .wrapper
      img(src='kds.svg')
      .content
        h1 Knowit Developer Summit
        h3 #{event.date}<br>#{event.city}

  section#practical.two
    .content
      h1 By Developers<br>For Developers

      p.lead
        | Knowit Developer Summit (KDS) is Knowit's annual company-wide software developer conference.
        | The 2016 conference will be held on the #{event.longDate} at the #{event.venue} in #{event.city}, #{event.country}.

      h3 Practical information
      p
        | If you have questions during the conference, please feel free to contact us on Slack. We have created a slack-channel, <a href="https://knowit.slack.com/archives/kds2016">#kds2016</a>, for everything regarding the conference, join us and get the latest news! No account on slack? Then <a href="https://knowit.slack.com/signup">sign up</a> first. You can also text/call <a href="tel:+4790181940">+47 901 81 940</a> (Jan Henrik).

      p
        | <strong>The venue.</strong> The conference area has its own entrance, to the left of the main hotel entrance. Look for signs!

      p
        | <strong>Dinner.</strong> There will be a conference dinner at the hotel at 19:00. The dinner is included in the conference fee and is served in RBG Bar & Grill.

      p
        | <strong>Name badges</strong> will be handed out in order to make it easier with names and be able to see which company you belong to.

      p
        | <strong>Hotel check inn</strong>. You can pick up your room key in the conference area sometime after 16:00 on Friday. 

      p
        | Please stay until the end on Saturday. <strong>All speakers deserve an audience.</strong>

      p
        | Be prepared to change rooms. We do not know how popular sessions will be. Perhaps we will have to switch the room just before a session starts. Please help us make it as smooth as possible.

      p
        | Experience tells us that there may be changes in the schedule and maybe there will be a vacant slot. Do you have a talk that you can present? Please plan to quickly jump in as speaker.

      p
        | There will be <strong>t-shirts</strong> for everyone. Please, just take one and take the size you specified in the registration.

      p
        | <strong>Share!</strong> Use hashtag <strong>#kds2016</strong> on twitter, blog on your company blogs and make this conference visible to everyone! There is lots of great content to be shared. 


  include ./includes/schedule.jade
  include ./includes/talks.jade

  section#location.location
    .wrapper
      iframe(
        src=event.gmapsUrl
        width='100%'
        height='100%'
        frameborder='0'
        style='border:0'
      )
      .blocker
      .content
        h1 Location
        h3
          a(href=event.venueUrl)= event.venue
        h3= event.city

