extends layout.jade

block content
  section.intro
    .wrapper
      img(src='kds.svg')
      .content
        h1 Knowit Developer Summit
        h3 #{event.date}<br>#{event.city}

  section.two
    .content
      h1 Registration

      p.lead
        | Knowit's yearly company-wide software developer conference will be held on the #{event.longDate} in #{event.city}, #{event.country}.

      p
        | Registration closed on #{registration.registrationDeadline}.  If you
        | really really want to come, but missed the registration deadline,
        | please send us an email to <a
        | href="mailto:kds@knowit.no">kds@knowit.no</a> and we will see what we
        | can do.

  include ./includes/schedule.jade
  include ./includes/talks.jade

  section#location.location
    .wrapper
      iframe(
        src=event.gmapsUrl
        width='100%'
        height='100%'
        frameborder='0'
        style='border:0'
      )
      .blocker
      .content
        h1 Location
        h3= event.venue
        h3= event.city

