doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1, maximum-scale=1')
    title Knowit Developer Summit
    link(href='http://fonts.googleapis.com/css?family=Raleway:500,400,300,200,100' rel='stylesheet' type='text/css')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='style.css')
  body
    section.intro
      .wrapper
        img(src='kds.svg')
        .content
          h1 Knowit Developer Summit
          h3 #{event.date}<br>#{event.city}

    section.two
      .content
        .content-pane
          h1 Registration

          p: a.btn(href=registration.registrationUrl target='_blank')
            | Register as a participant

          p.lead
            | Registration closes on #{registration.registrationDeadline}.

          p
            | Knowit's yearly company-wide software developer conference will be held on the #{event.longDate} in #{event.city}, #{event.country}.

          p.important
            | We are working on the program and we have not accepted
            | (or rejected) any submissions yet. Meanwhile have a
            | look at some of topics your fellow colleagues
            | submitted:

          each submissionSet in cfp.submissions
            p.topics
              each submissionTitle in submissionSet
                span.topic= submissionTitle

        .content-pane
          h1 Call for papers

          p.lead
            | The last day for submitting a talk was #{cfp.submissionDeadline}.
            | However, if you have something really important to tell your
            | collegues, feel free to contact us at
            | <a href="mailto:kds@knowit.no">kds@knowit.no</a>. We might be
            | able to squeeze you in!

    section.location
      .wrapper
        iframe(
          src=event.gmapsUrl
          width='100%'
          height='100%'
          frameborder='0'
          style='border:0'
        )
        .blocker
        .content
          h1 Location
          h3= event.venue
          h3= event.city
